.friendsList {
    display: inline-flex;
    flex-direction: column;
    
}

.status{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
}

.item{
    display: inline-block;
    padding: 20px 30px;  
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    text-align: left;
}

.itemThumb{
    display: inline-flex;
    align-items: center;
}

.item:not(:last-child) {
    margin-bottom: 20px;
}

.avatar {
    display: inline-block;
    margin-right: 20px;
}

.name{
    font-size: 26px;
    font-weight: 500;
}