.transactionHistory {
    display: inline-block;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.head {
background-color: blueviolet;
}

.headItem {
padding: 20px 20px;
color:white;

font-size: 24px;
font-weight: 700;
text-transform: uppercase;
}

.listItemCell{
    width: 200px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
}

.listItem:nth-child(2n) {
    background-color: aquamarine;
}

.listItem:nth-child(2n+1) {
    background-color: white;
}